body {
  background-image: url("http://trisquel.info/files/richard%20stallman.jpg");
  background-color: #ffffff;
}
.col-md-4 {
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 0.9;
  margin-top: 3em;
  padding-bottom: 10px;
}
.btn {
  margin: 10px;
}
